<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Bogo_BuyOneGetOne::promotion" title="Buy X Get Y" translate="title" sortOrder="50">
                        <resource id="Bogo_BuyOneGetOne::promotion_rules" title="Promotion Rules" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
