<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote">
        <plugin name="bogo_process_quote_totals" 
                type="Bogo\BuyOneGetOne\Plugin\QuoteTotals" 
                sortOrder="10"/>
        <plugin name="bogo_cart_item_add" 
                type="Bogo\BuyOneGetOne\Plugin\CartItemAdd" 
                sortOrder="20"/>
    </type>
</config>
