<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="bogo_buyonegetone_add_free_product" 
                  instance="Bogo\BuyOneGetOne\Observer\AddFreeProduct" />
    </event>
    <event name="checkout_cart_update_items_before">
        <observer name="bogo_buyonegetone_update_items" 
                  instance="Bogo\BuyOneGetOne\Observer\UpdateCartItems" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="bogo_buyonegetone_sync_items" 
                  instance="Bogo\BuyOneGetOne\Observer\SyncCartItems" />
    </event>
    <event name="sales_quote_item_set_qty">
        <observer name="bogo_buyonegetone_sync_qty" 
                  instance="Bogo\BuyOneGetOne\Observer\SyncQuantity" />
    </event>
</config> 